h1 {
    padding: 10px;
    border-radius: 5px;
    width: 30%;
    margin: auto;
    color: #fff;
    background-color: cornflowerblue;
    text-align: center;
}
body{
    background-color: rgb(93, 98, 102);
}